<ion-header [translucent]="true">
  <ion-toolbar class="background-header">
    <ion-title>
      GIMM-obot
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</ion-header>
 
 
<ion-content [fullscreen]="true">
  <div class="background">
    <div class="container">
      <ion-img id='image' src={{path}}{{picToShow}}></ion-img>
      <div class='hi' id="text">
        <p>{{text1}}</p>
        <p>{{text2}}</p>
        <p>{{text3}}</p>
        <h4>{{quoter}}</h4>
      </div>
    </div>
    <button id='new-photo'>Generate New</button>
  </div>
</ion-content>
