<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GIMM-obot
    </ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img id = 'image' src='../assets/pictures/{{pictureID}}.jpg'></ion-img>
    <div class = 'hi' id="text">
      <h4>{{text1}}</h4>
      <h4>{{text2}}</h4>
      <p>{{quoter}}</p>
    </div>
  </div>
  <button id = 'new-photo'>Hello</button>
</ion-content>
