<ion-header [translucent]="true">
  <ion-toolbar class="background-header">
    <ion-title>
      Take a photo
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
<div class="background">
  
  <div class="center">
    <ion-item [href]="'tabs/New Meme/'" routerDirection='forward'>
      <ion-button center>Send photo to the GIMMobot</ion-button>
    </ion-item>
  </div>
 
  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
</ion-content>
