<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Take a photo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <!--<ion-item [href] = "'tabs/New Meme/'" routerDirection = 'forward'>
      <ion-button></ion-button>
    </ion-item>-->

    <div class = 'container'>
      <img src = 'https://i.kym-cdn.com/photos/images/newsfeed/001/018/899/936.jpg' style = "height: 100%; width: auto;">
    </div>
    <ion-fab horizontal="center">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webviewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
