<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Take a photo
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
<div class="background">

  <ion-item [href] = "'tabs/New Meme/'" routerDirection = 'forward'>
    <ion-button></ion-button>
  </ion-item>
 
  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
</ion-content>
